@font-face {
    font-family: newFont;
    src: url("fonts/SanFranciscoFont-master/SanFranciscoDisplay-Light.otf") format("opentype");
}

@font-face {
    font-family: newFont2;
    src: url("fonts/SanFranciscoFont-master/SanFranciscoText-LightItalic.otf") format("opentype");
}

div {
      /* line-height: 200px; */
      /* margin-top: 250px; */
      /* border: 2px dashed #f69c55; */
}
span {
    /* border: 2px dashed #f69c55; */
}

div.addSides {
    margin-left: 10px;
    margin-right: 10px;
}

.newFont {
    font-family: newFont;
    color: white;
    font-size: 120px;
    letter-spacing: 0px;
}

.newFontSmaller {
    font-family: newFont;
    color: white;
    font-size: 80px;
    letter-spacing: 0px;
    /* background-color: #89B2A4; */
    background-color: #97A7F2;
    transition: background-color 1s ease;
}

.center {
    text-align: left;
    vertical-align: middle;
    line-height: normal;
}

.customPadding {
    padding-left: 13px;
    padding-right: 13px;
}

.hvr-forward {
    /* border: 2px dashed #f69c55; */
    padding-left: 13px;
    padding-right: 13px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-property: transform;
  transition-property: transform;
  /* transition: color 0.3s ease; */
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

body {
    /* background-color: #89B2A4; */
    background-color: #97A7F2;
}

.newFontSmaller:hover {
    /* background-color: #5F9783; */
    background-color: rgb(115, 137, 238);
}

.typed-cursor{
    font-size: 120px;
    /* opacity: 0; */
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: rgba(255, 255, 255, 1);
    /* color: #FFFFFF; */
    margin-bottom: 100px;
}

.box {
    margin-left: 0px;
}
