@font-face {
    font-family: newFont;
    src: url("fonts/SanFranciscoFont-master/SanFranciscoDisplay-Light.otf") format("opentype");
}

div {
      /* line-height: 200px; */
      /* margin-top: 250px; */
      /* border: 2px dashed #f69c55; */
}

div.enterName {
    animation-duration: 5s;
}

.newFont {
    font-family: newFont;
    color: white;
    font-size: 120px;
    letter-spacing: -4px;
}

.newFontSmaller {
    font-family: newFont;
    color: white;
    font-size: 90px;
    letter-spacing: -4px;
}

.center {
    text-align: left;
    vertical-align: middle;
    line-height: normal;
}

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

body {
    background-color: #89B2A4;
}
.newText:hover {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #5C9381;
}
